<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Khazana Pay Admin</title>
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="{{ url_for('serve_assets', filename='css/materialize.min.css') }}">
  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <style>
    body {
      background-color: aliceblue !important;
      font-size: large;
      font-style: oblique;
      font-family: cursive;
    }
    .headerRow {
      background-color: #031403 ;
      color: white;
      font-size: x-large;
      margin-top: -3rem;
    }
    .homeHeader {
      font-weight: 600 !important;
      margin-left: 1rem;
    }
    .card-panel {
      border-radius: 14px !important;
    }
    .btn {
      background-color: #2196f3;
      width: 50%;
      border-radius: 14px;
    }
    label {
      font-size: larger !important;
    }
    .toast {
      border-radius: 14px !important;
    }
    nav {
      background-color: #20208f !important;
      margin-top: -3rem;
    }
    span {
      font-weight: 800 !important;
      color: red;
    }
    .dataTables_wrapper .dataTables_filter input {
    height: auto;
}
.card {
  overflow: auto;
}
#walletTableContainer .dataTables_wrapper .dataTables_filter {
    margin-right: 2rem;
}
.dataTables_wrapper .dataTables_length{
    display: none;
}
.tabelheader {
      background-color: aliceblue;
    }
  </style>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <h1 class="homeHeader">
        <a href="#" class="brand-logo">khazanapay Admin</a>
      </h1>
      <ul id="nav-mobile" class="right">
        <li class="active"><a href="/admin/dashBoard">Dashboard</a></li>
        <li> <a href="/admin/userWalletAndKycUpdate">Manage Users</a></li>
        <li><a href="/">Log Out</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col s12 m12 l12 xl12">
      <div class="card">
        <div class="card-content center-align">
          <span class="card-title">Admin Users</span>
          <div class="preloader-wrapper big active" id="adminLoader">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
          </div>
          <div id="adminTableContainer"></div>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l12 xl12">
      <div class="card">
        <div class="card-content center-align">
          <span class="card-title bold">Wallet History</span>
          <div class="preloader-wrapper big active center" id="walletLoader">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
          </div>
        </div>
        <div id="walletTableContainer"></div>

      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- DataTables JS -->
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <!-- Materialize JS -->
  <script src="{{ url_for('serve_assets', filename='js/materialize.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>

  <script>
    let token = sessionStorage.getItem("access_token");
    let username = sessionStorage.getItem("username");
    if (!token || !username) {
      M.toast({
        html: 'Your session expired. Please login again.'
      });
      window.location.href = "/";
    }
    $(document).ready(function() {
      getAdminUsers();
      getWalletHistory();
    });

    function getAdminUsers() {
      $("#adminLoader").removeClass("hide");
      $("#adminTableContainer").html("");
      if (!token || !username) {
        M.toast({
          html: 'Your session expired. Please login again.'
        });
        window.location.href = "/";
      }
      const headers = {
        "Content-Type": "application/json",
        "Authorization": "Bearer " + token
      };
      const payload = {
        username: username
      };
      let url = "https://khazanapay.net/admin/getUsers";
      $.ajax({
        url: url,
        type: "GET",
        data: JSON.stringify(payload),
        headers: headers,
        success: function(response) {
          $("#adminLoader").addClass("hide");
          createAdminUserTable(response);
        },
        error: function(xhr, status, error) {
          M.toast({
            html: 'Your session expired. Please login again.'
          });
          window.location.href = "/";
          if (xhr.responseJSON && xhr.responseJSON.errorMsg) {
            var errorMessage = xhr.responseJSON.errorMsg;
            console.log("Error message from backend:", errorMessage);
          }
        },
      });
    }

    function createAdminUserTable(data) {
      var activeUserCount = 0;
      var unActiveUserCount = 0;
      var activeUsersTotalWallet = 0;
      var inActiveTotalWallet = 0;
      if (data) {
        let headers = ["User Name", "First Name", "Last Name", "Phone No.", "Wallet", "Status"];

        let $table = $('<table class="responsive-table highlight" id="adminUsersTable"></table>');
        let $headerRow = $('<thead class="tabelheader"></thead>');
        let $headerRowContent = $("<tr></tr>");

        headers.forEach(function(headerText) {
            $headerRowContent.append($("<th></th>").text(headerText));
        });
        $headerRow.append($headerRowContent);
        $table.append($headerRow);

        let $tableBody = $("<tbody></tbody>");
        var dataObj = data;
        dataObj.forEach(function(transaction) {
            let $row = $("<tr></tr>");
            $row.append($("<td></td>").text(transaction["username"]));
            $row.append($("<td></td>").text(transaction["first_name"]));
            $row.append($("<td></td>").text(transaction["last_name"]));
            $row.append($("<td></td>").text(transaction["phone_number"]));
            $row.append($("<td></td>").text(transaction["payout_wallet"]));
            var status = transaction["kyc_status"];
            if (status == "True"){
              $row.append($("<td></td>").text("Active"));
              activeUsersTotalWallet += parseFloat(transaction["payout_wallet"]);
              activeUserCount++;
            } else {
              $row.append($("<td></td>").text("Not Active"));
              inActiveTotalWallet += parseFloat(transaction["payout_wallet"]);
              unActiveUserCount++;
            }
            $tableBody.append($row);
        });
        $table.append($tableBody);
        $("#adminTableContainer").append($table);

        // Initialize DataTable
        $('#adminUsersTable').DataTable({
          paging: true, // Enable pagination
          searching: true, // Enable search
          ordering: true, // Enable column ordering
          pageLength: 5, // Set the number of rows per page
        });
      } else {
        $("#adminTableContainer").append("<p>No transactions found.</p>");
      }
    }


    function getWalletHistory() {
    $("#walletLoader").removeClass("hide");
    if (!token || !username) {
      M.toast({
          html: 'Your session expired. Please login again.'
        });
        window.location.href = "/";
    }
    const headers = {
        "Content-Type": "application/json",
        "Authorization": "Bearer " + token
    };
    const payload = {
        username: username
    };
    let url = "https://khazanapay.net/admin/getWalletHistory";
    $.ajax({
        url: url,
        type: "GET",
        data: JSON.stringify(payload),
        headers: headers,
        success: function(response) {
            $("#walletLoader").addClass("hide");
            createWalletHistoryTable(response);
        },
        error: function(xhr, status, error) {
          M.toast({
            html: 'Your session expired. Please login again.'
          });
          window.location.href = "/";
            if (xhr.responseJSON && xhr.responseJSON.errorMsg) {
                var errorMessage = xhr.responseJSON.errorMsg;
                console.log("Error message from backend:", errorMessage);
            }
        },
    });

}


function createWalletHistoryTable(data) {
    data.reverse();
    var rechargeCount = 0;
    var refoundCount = 0;
    var totalRechargeAmount = 0;
    var totalRefoundAmount = 0;
    if (data) {
        let headers = ["Id", "Username", "Amount", "Transaction Type", "Reason", "Date"];

        let $table = $('<table class="responsive-table highlight" id="walletHistoryTable"></table>');
        let $headerRow = $('<thead class="tabelheader"></thead>');
        let $headerRowContent = $("<tr></tr>");

        headers.forEach(function(headerText) {
            $headerRowContent.append($("<th></th>").text(headerText));
        });
        $headerRow.append($headerRowContent);
        $table.append($headerRow);

        let $tableBody = $("<tbody></tbody>");
        var dataObj = data;
        dataObj.forEach(function(transaction) {
            let $row = $("<tr></tr>");
            $row.append($("<td></td>").text(transaction["id"]));
            $row.append($("<td></td>").text(transaction["username"]));
            $row.append($("<td></td>").text(transaction["amount"]));
            var transaction_type = transaction["transaction_type"];
            var amount = transaction["amount"];
            if (transaction_type == "RECHARGE") {
              totalRechargeAmount += parseFloat(amount);
              rechargeCount++;
            } else {
              totalRefoundAmount +=  parseFloat(amount);
              refoundCount++;
            }
            $row.append($("<td></td>").text(transaction_type));
            $row.append($("<td></td>").text(transaction["reason"]));
            const date = moment(transaction["date_time"]);
            const formattedDate = date.tz('Asia/Kolkata').format('DD-MM-YYYY HH:mm:ss');
             $row.append($("<td></td>").text(formattedDate));
            $tableBody.append($row);
        });
        $table.append($tableBody);
        // Initialize DataTable
        $("#walletTableContainer").append($table);
        $('#walletHistoryTable').DataTable({
            "pageLength": 10,
            "order": [],
            "lengthMenu": [ // Options available in the "Show entries" dropdown
              [5, 10, 25, 50, 100, 500, 1000], // Values that determine page length
              [5, 10, 25, 50, 100, 500, "All"] // Display text for each value
          ]
        });
        $(".rechargeCount").html(rechargeCount);
        $(".totalRechargeAmount").html(totalRechargeAmount);
        $(".refoundCount").html(refoundCount);
        $(".totalRefoundAmount").html(totalRefoundAmount);

    } else {
        $("#walletTableContainer").append("<p>No transactions found.</p>");
    }
}



  </script>
</body>
</html>
