<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khazana Pay Admin</title>
    <link rel="stylesheet" href="{{ url_for('serve_assets', filename='bootstrapCss/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('serve_assets', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('serve_assets', filename='applicationCssFiles/dashBoard.css') }}">

</head>
<body>
    
  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
       <img src="{{ url_for('serve_assets', filename='images/officeImage.png') }}" alt="Description of Image">
      </div>
      <a href="#user"> <img class="circle" src="{{ url_for('serve_assets', filename='images/yuna.jpg') }}" alt="Description of Image"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li class="active"><a class="waves-effect" href="/admin/dashBoard">Dashboard</a></li>
    <li><a class="waves-effect" href="/admin/userWalletAndKycUpdate">Manage Users</a></li>
    <li><a class="waves-effect" href="/">Log Out</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons menuIcon">menu</i></a>
      <h3 class="right-align homeHeader">Khazanapay</h3>
    </div>
  </nav>

  <div id="main">
    <div class="col s12 m12 l12 xl12">
      <div class="card">
        <div class="card-content center-align">
          <span class="card-title"><h3>Admin Users</h3></span>
          <div class="preloader-wrapper big active" id="adminLoader">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
          </div>
          <div id="adminTableContainer"></div>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l12 xl12">
      <div class="card card2">
        <div class="card-content center-align">
          <span class="card-title"><h3>Wallet History</h3></span>
          <div class="preloader-wrapper big active center" id="walletLoader">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left"><div class="circle"></div></div>
              <div class="gap-patch"><div class="circle"></div></div>
              <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
          </div>
        </div>
        <div id="walletTableContainer"></div>
      </div>
      </div>
    </div>



  </div>

    <script src="{{ url_for('serve_JQuerySetUp', filename='external/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('serve_assets', filename='js/materialize.min.js') }}"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>
    <script src="{{ url_for('serve_assets', filename='applicationJsFiles/dashBoard.js') }}"></script>
    <script>
      let token = sessionStorage.getItem("access_token");
      let username = sessionStorage.getItem("username");

        $(document).ready(function(){
          if (!token || !username) {
            M.toast({
              html: 'Your session expired. Please login again.'
            });
            window.location.href = "/";
          }
          $(".name").text(username);

            // Initialize the sidenav
            var instance = $('.sidenav').sidenav({
                onOpenStart: function() {
                    // Shift content to the right when sidenav opens
                    $('#main').css('margin-left', '300px');
                },
                onCloseStart: function() {
                    // Reset content margin when sidenav closes
                    $('#main').css('margin-left', '0');
                }
            });

            // Automatically open sidenav
            //instance.sidenav('open');

            getAdminUsers();
            getWalletHistory();
        });
    </script>
</body>
</html>
