<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khazana Pay Admin</title>
    <link rel="stylesheet" href="{{ url_for('serve_assets', filename='bootstrapCss/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('serve_assets', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('serve_assets', filename='applicationCssFiles/login.css') }}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Logo Section -->
            <div class="col-sm-12 col-md-12 col-xl-6 p-0">
                <img class="img-fluid" src="{{ url_for('serve_assets', filename='images/KhazanaGreenLogo.png') }}" alt="Description of Image">
            </div>
            <!-- Content Login Section -->
            <div class="col-sm-12 col-md-12 col-xl-6 login-column">
                <div class="card card-container">
                    <div class="card-body">
                        <!-- Adding extra content to ensure overflow -->
                        <div class="progress hide">
                            <div class="indeterminate"></div>
                          </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <h3>Sign In</h3>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="mobileNumber" class="form-label">Mobile Number</label>
                                <input type="tel" class="form-control" id="mobileNumber" placeholder="Enter your mobile number">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter your password">
                            </div>
                            <center>
                                <div class="col-12">
                                    <button class="btn btn-primary w-50" onclick="submitLogin()">Login</button>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('serve_JQuerySetUp', filename='external/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('serve_assets', filename='js/materialize.min.js') }}"></script>
    <script src="{{ url_for('serve_assets', filename='applicationJsFiles/login.js') }}"></script>
    <script>
        let token = sessionStorage.getItem("access_token");
        let username = sessionStorage.getItem("username");

        $(document).ready(function() {
            if (token || username) {
                sessionStorage.removeItem("access_token");
                sessionStorage.removeItem("username");
            }
        });
    </script>
</body>
</html>
