<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khazana Pay Admin</title>
    <link rel="stylesheet" href="{{ url_for('serve_assets', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('serve_assets', filename='applicationCssFiles/manageUsers.css') }}">
<style>
     label {
      font-size: larger !important;
    }
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: darkgreen;
      color: white;
    }
    .modal .modal-close {
        margin-right: 1rem;
    }
    .modal {
      max-height: fit-content;
    }

    .contentWidth{
      width: 30%;
    }

.modal .btn {
    width: 20%;
}
.paymentTable tr {
    border-bottom: 3px solid white !important;
    background-color: white !important;
  }
  .paymentTable {
  border-collapse: collapse !important;
  }

  .paymentTable tr:hover {
      background-color: white !important;
  }

table.striped>tbody>tr:nth-child(odd) {
    background-color: white !important;
}
</style>
</head>
<body>

      
  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background center-align">
       <img src="{{ url_for('serve_assets', filename='images/KhazanaGreenMiniLogo.png') }}" alt="Description of Image" >
      </div>
      <!-- <a href="#user"> <img class="circle" src="{{ url_for('serve_assets', filename='images/yuna.jpg') }}" alt="Description of Image"></a> -->
        <br><br>
      <a href="#name" class="center-align"><span class="white-text name">John Doe</span></a>
      <!-- <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a> -->
    </div></li>
    <li><a class="waves-effect" href="/admin/dashBoard"><i class="material-icons">home</i>Dashboard</a></li>
    <li class="active"><a class="waves-effect" href="/admin/userWalletAndKycUpdate"><i class="material-icons">settings_applications</i>Manage Users</a></li>
    <li><a class="waves-effect" href="/"><i class="material-icons">error_outline</i>Log Out</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons menuIcon">menu</i></a>
      <!-- <h4 class="right-align homeHeader"><b>KhazanaPay </b></h4> -->

      <header class="header">
        <span class="highlight">K</span><span class="small-text">hazana</span>
        <span class="highlight">P</span><span class="small-text">ay</span>
    </header>
    </div>
  </nav>

    <div id="main">
        <div class="col s12 m12 l12 xl12">
            <div class="card">
              <div class="card-content center-align">
                <span class="card-title"><h3>Admin Users</h3></span>
                <div class="preloader-wrapper big active" id="manageLoader">
                  <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left"><div class="circle"></div></div>
                    <div class="gap-patch"><div class="circle"></div></div>
                    <div class="circle-clipper right"><div class="circle"></div></div>
                  </div>
                  <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left"><div class="circle"></div></div>
                    <div class="gap-patch"><div class="circle"></div></div>
                    <div class="circle-clipper right"><div class="circle"></div></div>
                  </div>
                  <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left"><div class="circle"></div></div>
                    <div class="gap-patch"><div class="circle"></div></div>
                    <div class="circle-clipper right"><div class="circle"></div></div>
                  </div>
                  <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left"><div class="circle"></div></div>
                    <div class="gap-patch"><div class="circle"></div></div>
                    <div class="circle-clipper right"><div class="circle"></div></div>
                  </div>
                </div>
                <div id="userDetailsTableContainer"></div>
              </div>
            </div>
          </div>
          <div class="col s12 m12 l12 xl12">
            <div class="card walletCard hide">
              <div class="card-content center-align">
                <span class="card-title"><h3>Wallet History</h3></span>
                <span class="userNameSpan green-text"></span>
                <div class="preloader-wrapper big active hide" id="walletHistoryLoader">
                  <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left"><div class="circle"></div></div>
                    <div class="gap-patch"><div class="circle"></div></div>
                    <div class="circle-clipper right"><div class="circle"></div></div>
                  </div>
                  <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left"><div class="circle"></div></div>
                    <div class="gap-patch"><div class="circle"></div></div>
                    <div class="circle-clipper right"><div class="circle"></div></div>
                  </div>
                  <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left"><div class="circle"></div></div>
                    <div class="gap-patch"><div class="circle"></div></div>
                    <div class="circle-clipper right"><div class="circle"></div></div>
                  </div>
                  <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left"><div class="circle"></div></div>
                    <div class="gap-patch"><div class="circle"></div></div>
                    <div class="circle-clipper right"><div class="circle"></div></div>
                  </div>
                </div>
                <div id="walletDetailsTableContainer"></div>
              </div>
            </div>
          </div>



          <div id="manageUserDetailsModal" class="modal">
            <div class="modal-header">
              <h3 style="padding: 1rem !important;" class="paymentFormHeader">Manage User Details</h3>
              <a href="#!" class="modal-close white-text"><i class="small material-icons">close</i></a>
            </div>
            <div class="modal-content">
              <div class="paymentForm">
                <div class="row">
                  <div class="input-field col s12 m12 l6 xl6">
                    <input id="mobileNumber" type="tel" class="validate" disabled>
                    <label for="mobileNumber">Mobile Number</label>
                  </div>
                  <div class="input-field col s12 m12 l6 xl6">
                    <input id="userName" type="text" class="validate" disabled>
                    <label for="userName">UserName</label>
                  </div>
                </div>
        
                <div class="row">
                  <div class="input-field col s12 m12 l6 xl6">
                    <input id="walletBalance" type="text" class="validate" disabled>
                    <label for="walletBalance">Wallet Balance</label>
                  </div>
                  <div class="input-field col s12 m12 l6 xl6">
                    <input id="currentStatus" type="text" class="validate" disabled>
                    <label for="currentStatus">Current Status</label>
                  </div>
                </div>
              
                <div class="row">
                  <div class="input-field col s12 m6 l6 xl6">
                    <input placeholder="Please enter recharge amount" id="rechargeAmount" type="number" class="validate">
                    <label for="rechargeAmount" id="rechargeAmountLabel">Recharge Amount</label>
                    <span id="amountInWords" class="statusPaymentStatus" style="display:none;"></span>
                    
                  </div>
                  <div class="input-field col s12 m6 l6 xl6">
                    <select id="transType">
                      <option value="" disabled selected>Select Transaction Type</option>
                      <option value="Credit">Credit</option>
                      <option value="Debit">Debit</option>
                    </select>
                  </div>
                </div>
        
                <div class="row center-align">
                    <div>
                      <a href="#!" class="btn btn-primary rechargeBtn" id ="creditOrDebitBtn" onclick="creditOrDebitUserWallet()">Credit</a>
                    </div>
                    <div class="progress hide">
                      <div class="indeterminate"></div>
                    </div>
                </div>
              </div>
              <div class="paymentFormResult hide">
                <aside class="paymentFormResult hide">
                  <table class="paymentTable striped">
                    <tbody>
                      <tr>
                        <th>UserName</th>
                        <td class="statusUserName "></td>
                      </tr>
                      <tr>
                        <th>Mobile Number</th>
                        <td class="statusMobileNumber "></td>
                      </tr>
                      <tr>
                        <th>Amount</th>
                        <td class="statusAmount "></td>
                      </tr>
                      <tr>
                        <th>Payment Method</th>
                        <td class="statusPaymentMethod "></td>
                      </tr>
                      <tr>
                        <th>Payment Status</th>
                        <td class="statusPaymentStatus "></td>
                      </tr>
                      <tr>
                        <th>Date</th>
                        <td class="date"></td>
                      </tr>
                    </tbody>
                  </table>
                </aside>
                
                
              </div>


            </div>
          </div>
    </div>
    

    <script src="{{ url_for('serve_JQuerySetUp', filename='external/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('serve_assets', filename='js/materialize.min.js') }}"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>
    <script src="{{ url_for('serve_assets', filename='applicationJsFiles/manageUsers.js') }}"></script>

    <script>
        var access_token = sessionStorage.getItem("access_token");
        var username = sessionStorage.getItem("username");

        $(document).ready(function() {
            if (!access_token || !username) {
                M.toast({
                    html: 'Your session expired. Please login again.'
                });
                window.location.href = "/";
            }
            $('.modal').modal();
            $('select').formSelect();
            $(".name").text(username);
            getUserDetails();

            // Initialize the sidenav
            var instance = $('.sidenav').sidenav({
                onOpenStart: function() {
                    // Shift content to the right when sidenav opens
                    $('#main').css('margin-left', '300px');
                },
                onCloseStart: function() {
                    // Reset content margin when sidenav closes
                    $('#main').css('margin-left', '0');
                }
            });

            // Automatically open sidenav
            //instance.sidenav('open');
            $('#rechargeAmount').on('input', function() {
                let amount = $(this).val();
                if (amount) {
                    $('#rechargeAmountLabel').hide();
                    let amountInWords = test(amount);
                    $('#amountInWords').text(amountInWords).show();
                } else {
                    $('#amountInWords').hide();
                    $('#rechargeAmountLabel').show();
                }
            });

        });

function test(n) {
    if (n < 0)
        return false;

    // Arrays to hold words for single-digit, double-digit, and below-hundred numbers
    single_digit = ['', 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine'];
    double_digit = ['Ten', 'Eleven', 'Twelve', 'Thirteen', 'Fourteen', 'Fifteen', 'Sixteen', 'Seventeen', 'Eighteen', 'Nineteen'];
    below_hundred = ['Twenty', 'Thirty', 'Forty', 'Fifty', 'Sixty', 'Seventy', 'Eighty', 'Ninety'];

    if (n === 0) return 'Zero';

    // Recursive function to translate the number into words
    function translate(n) {
        let word = "";
        if (n < 10) {
            word = single_digit[n] + ' ';
        } else if (n < 20) {
            word = double_digit[n - 10] + ' ';
        } else if (n < 100) {
            let rem = translate(n % 10);
            word = below_hundred[(n - n % 10) / 10 - 2] + ' ' + rem;
        } else if (n < 1000) {
            word = single_digit[Math.trunc(n / 100)] + ' Hundred ' + translate(n % 100);
        } else if (n < 100000) {
            word = translate(parseInt(n / 1000)).trim() + ' Thousand ' + translate(n % 1000);
        } else if (n < 10000000) {
            word = translate(parseInt(n / 100000)).trim() + ' Lakh ' + translate(n % 100000);
        } else {
            word = translate(parseInt(n / 10000000)).trim() + ' Crore ' + translate(n % 10000000);
        }
        return word;
    }

    // Get the result by translating the given number
    let result = translate(n)+" "+"rupees";
    return result.trim() + '.';
}


        var isProcessing = false;

    </script>
</body>
</html>
