<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Majestic Admin Pro</title>
  <link rel="stylesheet" href="{{ url_for('serve_assets', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('serve_assets', filename='images/favicon.ico') }}">

  <style>
    .manageUsersLink .dropdown .dropdown-toggle:after {
      display: none !important;
    }
    .manageUsersLink .dropdown .dropdown-menu {
      margin-top: 0.6rem;
    }

  </style>
</head>
<body>
  <div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="navbar-brand-wrapper d-flex justify-content-center">
    <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
      <a class="navbar-brand brand-logo" href="index.html"><img src="../../../assets/images/logo.svg"
          alt="logo" /></a>
      <a class="navbar-brand brand-logo-white" href="index.html"><img src="../../../assets/images/logo-white.svg"
          alt="logo" /></a>
      <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../../../assets/images/logo-mini.svg"
          alt="logo" /></a>
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="mdi mdi-sort-variant"></span>
      </button>
    </div>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashBoard">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>    

      <li class="nav-item manageUsersLink">
        <div class="dropdown show">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Manage users
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Manage User Credintials </a>
            <a class="dropdown-item" href="/admin/userWalletAndKycUpdate">User Wallet Update</a>
            <a class="dropdown-item" href="#">User Kyc Update</a>
          </div>
        </div>       
      </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
        
      <li class="nav-item nav-profile dropdown">
      
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
          <span class="nav-profile-name">Louis Barnett</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
          <a class="dropdown-item">
            <i class="mdi mdi-cog text-primary"></i>
            Settings
          </a>
          <a class="dropdown-item">
            <i class="mdi mdi-logout text-primary"></i>
            Logout
          </a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
      data-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">      
      <div class="">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                  <div class="me-md-3 me-xl-5">
                    <h2>Welcome back,</h2>
                    <p class="mb-md-0">Your analytics dashboard template.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="row">
            <div class="col-md-6 col-xl-3 grid-margin stretch-card">
              <div class="card">
                <div id="cashSalesCarousel" class="carousel slide card-carousel" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="card-body border-bottom">
                        <p class="card-title">Cash sales</p>
                        <div class="row">
                          <div class="col-6">
                            <canvas id="cash-sales-chart"></canvas>
                          </div>
                          <div class="col-6">
                            <div class="d-flex align-items-center ms-2">
                              <h2 class="font-weight-bold mb-0 me-1">30%</h2>
                              <i class="mdi mdi-chevron-up text-success icon-md"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                          <div>
                            <p>Sales last month</p>
                            <h2 class="mb-0">8543</h2>
                            <div class="d-flex align-items-center mt-2">
                              <small>0.321%</small>
                              <i class="mdi mdi-chevron-up"></i>
                            </div>
                          </div>
                          <div>
                            <div class="icon-box-primary icon-box-lg">
                              <i class="mdi mdi-wallet"></i>
                            </div>
                          </div>
                        </div>
                        <h5>Gross sales of July</h5>
                        <p class="text-muted mb-0">To start a blog, think of a topic about and first brainstorm party is ways to write details</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="card-body border-bottom">
                        <p class="card-title">Cash sales</p>
                        <div class="row">
                          <div class="col-6">
                            <canvas id="cash-sales-chart-b"></canvas>
                          </div>
                          <div class="col-6">
                            <div class="d-flex align-items-center ms-2">
                              <h2 class="font-weight-bold mb-0 me-1">41%</h2>
                              <i class="mdi mdi-chevron-up text-success icon-md"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                          <div>
                            <p>Sales last month</p>
                            <h2 class="mb-0">1133</h2>
                            <div class="d-flex align-items-center mt-2">
                              <small>0.387%</small>
                              <i class="mdi mdi-chevron-up"></i>
                            </div>
                          </div>
                          <div>
                            <div class="icon-box-primary icon-box-lg">
                              <i class="mdi mdi-wallet"></i>
                            </div>
                          </div>
                        </div>
                        <h5>Gross sales of August</h5>
                        <p class="text-muted mb-0">To start a blog, think of a topic about and first brainstorm party is ways to write details</p>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev bg-white" href="#cashSalesCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </a>
                  <a class="carousel-control-next bg-white" href="#cashSalesCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </a>
                </div>    
              </div>
            </div>
            <div class="col-md-6 col-xl-3 grid-margin stretch-card">
              <div class="card">
                <div id="monthlyIncomeCarousel" class="carousel slide card-carousel" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="card-body border-bottom">
                        <p class="card-title">Monthly income</p>
                        <div class="row">
                          <div class="col-6">
                            <canvas id="monthly-income-chart"></canvas>
                          </div>
                          <div class="col-6">
                            <div class="d-flex align-items-center ms-2">
                              <h2 class="font-weight-bold mb-0 me-1">16%</h2>
                              <i class="mdi mdi-chevron-up text-warning icon-md"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                          <div>
                            <p>Sales income</p>
                            <h2 class="mb-0">20087</h2>
                            <div class="d-flex align-items-center mt-2">
                              <small>0.754%</small>
                              <i class="mdi mdi-chevron-up"></i>
                            </div>
                          </div>
                          <div>
                            <div class="icon-box-warning icon-box-lg">
                              <i class="mdi mdi-credit-card"></i>
                            </div>
                          </div>
                        </div>
                        <h5>Gross sales of January</h5>
                        <p class="text-muted mb-0">The first is a non technical method which requires the use of adware removal software. Download free </p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="card-body border-bottom">
                        <p class="card-title">Monthly income</p>
                        <div class="row">
                          <div class="col-6">
                            <canvas id="monthly-income-chart-b"></canvas>
                          </div>
                          <div class="col-6">
                            <div class="d-flex align-items-center ms-2">
                              <h2 class="font-weight-bold mb-0 me-1">23%</h2>
                              <i class="mdi mdi-chevron-up text-warning icon-md"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                          <div>
                            <p>Sales income</p>
                            <h2 class="mb-0">7368</h2>
                            <div class="d-flex align-items-center mt-2">
                              <small>0.489%</small>
                              <i class="mdi mdi-chevron-up"></i>
                            </div>
                          </div>
                          <div>
                            <div class="icon-box-warning icon-box-lg">
                              <i class="mdi mdi-credit-card"></i>
                            </div>
                          </div>
                        </div>
                        <h5>Gross sales of February</h5>
                        <p class="text-muted mb-0">The first is a non technical method which requires the use of adware removal software. Download free </p>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev bg-white" href="#monthlyIncomeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </a>
                  <a class="carousel-control-next bg-white" href="#monthlyIncomeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </a>
                </div>    
              </div>
            </div>
            <div class="col-md-6 col-xl-3 grid-margin stretch-card">
              <div class="card">
                <div id="yearlySalesCarousel" class="carousel slide card-carousel" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="card-body border-bottom">
                        <p class="card-title">Yearly sales</p>
                        <div class="row">
                          <div class="col-6">
                            <canvas id="yearly-sales-chart"></canvas>
                          </div>
                          <div class="col-6">
                            <div class="d-flex align-items-center ms-2">
                              <h2 class="font-weight-bold mb-0 me-1">52%</h2>
                              <i class="mdi mdi-chevron-down text-danger icon-md"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                          <div>
                            <p>Purchases</p>
                            <h2 class="mb-0">8304</h2>
                            <div class="d-flex align-items-center mt-2">
                              <small>0.846%</small>
                              <i class="mdi mdi-chevron-down"></i>
                            </div>
                          </div>
                          <div>
                            <div class="icon-box-info icon-box-lg">
                              <i class="mdi mdi-cart"></i>
                            </div>
                          </div>
                        </div>
                        <h5>Gross sales of March</h5>
                        <p class="text-muted mb-0">While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun and </p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="card-body border-bottom">
                        <p class="card-title">Yearly sales</p>
                        <div class="row">
                          <div class="col-6">
                            <canvas id="yearly-sales-chart-b"></canvas>
                          </div>
                          <div class="col-6">
                            <div class="d-flex align-items-center ms-2">
                              <h2 class="font-weight-bold mb-0 me-1">29%</h2>
                              <i class="mdi mdi-chevron-down text-danger icon-md"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                          <div>
                            <p>Purchases</p>
                            <h2 class="mb-0">8543</h2>
                            <div class="d-flex align-items-center mt-2">
                              <small>0.795%</small>
                              <i class="mdi mdi-chevron-down"></i>
                            </div>
                          </div>
                          <div>
                            <div class="icon-box-info icon-box-lg">
                              <i class="mdi mdi-cart"></i>
                            </div>
                          </div>
                        </div>
                        <h5>Gross sales of April</h5>
                        <p class="text-muted mb-0">While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun and </p>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev bg-white" href="#yearlySalesCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </a>
                  <a class="carousel-control-next bg-white" href="#yearlySalesCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </a>
                </div>    
              </div>
            </div>
            <div class="col-md-6 col-xl-3 grid-margin stretch-card">
              <div class="card">
                <div id="dailyDepositsCarousel" class="carousel slide card-carousel" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="card-body border-bottom">
                        <p class="card-title">Daily deposits</p>
                        <div class="row">
                          <div class="col-6">
                            <canvas id="daily-deposits-chart"></canvas>
                          </div>
                          <div class="col-6">
                            <div class="d-flex align-items-center ms-2">
                              <h2 class="font-weight-bold mb-0 me-1">19%</h2>
                              <i class="mdi mdi-chevron-up text-success icon-md"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                          <div>
                            <p>Security deposits</p>
                            <h2 class="mb-0">2388</h2>
                            <div class="d-flex align-items-center mt-2">
                              <small>0.321%</small>
                              <i class="mdi mdi-chevron-up"></i>
                            </div>
                          </div>
                          <div>
                            <div class="icon-box-success icon-box-lg">
                              <i class="mdi mdi-calendar-heart"></i>
                            </div>
                          </div>
                        </div>
                        <h5>Gross sales of May</h5>
                        <p class="text-muted mb-0">According to the research firm Frost & Sullivan, the estimated size of the North American used test</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="card-body border-bottom">
                        <p class="card-title">Daily deposits</p>
                        <div class="row">
                          <div class="col-6">
                            <canvas id="daily-deposits-chart-b"></canvas>
                          </div>
                          <div class="col-6">
                            <div class="d-flex align-items-center ms-2">
                              <h2 class="font-weight-bold mb-0 me-1">33%</h2>
                              <i class="mdi mdi-chevron-up text-success icon-md"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                          <div>
                            <p>Security deposits</p>
                            <h2 class="mb-0">7589</h2>
                            <div class="d-flex align-items-center mt-2">
                              <small>0.321%</small>
                              <i class="mdi mdi-chevron-up"></i>
                            </div>
                          </div>
                          <div>
                            <div class="icon-box-success icon-box-lg">
                              <i class="mdi mdi-calendar-heart"></i>
                            </div>
                          </div>
                        </div>
                        <h5>Gross sales of June</h5>
                        <p class="text-muted mb-0">According to the research firm Frost & Sullivan, the estimated size of the North American used test</p>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev bg-white" href="#dailyDepositsCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </a>
                  <a class="carousel-control-next bg-white" href="#dailyDepositsCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </a>
                </div>    
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                        <p class="card-title">User Mangement</p>
                        <div class="table-responsive">
                             <div class="tableContainerDiv"></div>
                            </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="exampleModalCenter">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Update User Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6"> <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form2Example11" >Mobile Number</label
                        >
                        <input
                          type="tel"
                          id="mobileNumberForUpdate"
                          class="form-control"
                          disabled
                        />
                      </div></div>
                      <div class="col-md-6"><div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form2Example11" >User Name</label
                        >
                        <input
                          type="text"
                          id="usernameForUpdate"
                          class="form-control" disabled>
                          </div></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6"> <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form2Example11" >Wallet Ballence</label>
                        <input
                          type="text"
                          id="walletBallenceForUpdate"
                          class="form-control" disabled/>
                      </div></div>
                      <div class="col-md-6"><div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form2Example11" >User Current Status</label
                        >
                        <input
                          type="text"
                          id="statusForUpdate"
                          class="form-control" disabled>
                          </div></div>
                    </div>
    
                    <div class="row">
                      <div class="col-md-6"> <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form2Example11" >Recharge Wallet</label
                        >
                        <input
                          type="number"
                          id="rechargeAmount"
                          class="form-control"
                        />
                      </div></div>
                      <div class="col-md-6">
                        <label for="statusDropdown" class="form-label">Change Status</label>
                        <div class="mb-4">
                          <select id="statusDropdown" class="form-select">
                            <option value="">Select Status for User</option>
                            <option value="True">Activate</option>
                            <option value="False">Inactivate</option>
                          </select>
                        </div>
                      </div>
                    </div>
                   <div class="error-message-UpdateForm" style="color:red ;text-align:center"></div>
                    <div class="success-message-UpdateForm" style="color:green ;text-align:center"></div>
    
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="rechargeUser();">Recharge Wallet</button>
                   <button type="button" class="btn btn-primary" onclick="UpdateUserStatus();">Update Status</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="userHistoryModel">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">User Wallet History</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                  
                    <div class="card" >
                          <div class="card-header">
                            <h4>Wallet History</h4>
                          </div>
                      <div class="card-body">
                        <div class="row justify-content-left">
                           <div class="table-responsive">
                              <div id="table-container-wallet-user"></div>
                           </div>
                            </div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
    
          
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024 <a
        href="https://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
    <span class="float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
        class="mdi mdi-heart text-danger"></i></span>
  </div>
</footer>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>
<script>
     var access_token = sessionStorage.getItem("access_token");
  $(document).ready(function() {
    if(!access_token){
        $(location).attr("href", "login.html");
      } else{
        callUsersForAdmin();
      }
    // Initialize the dropdown on click
    $('#profileDropdown').on('click', function(e) {
      e.preventDefault(); // Prevent the default link behavior
      $(this).next('.dropdown-menu').toggleClass('show'); // Toggle the dropdown menu
     
    });

    // Close the dropdown when clicking outside
    $(document).on('click', function(e) {
      if (!$(e.target).closest('.nav-profile').length) {
        $('.dropdown-menu').removeClass('show'); // Hide the dropdown menu
      }
    });
   
    


    $('#manageUsersLink').on('click', function(event) {
        event.preventDefault(); // Prevent default anchor click behavior

        // Collapse other open menus if needed
        $('#auth').collapse('toggle');
      });
  });

  function callUsersForAdmin(){
         let url = "https://super-duper-bassoon-wr94q6v4xxr4hvv7r-8080.app.github.dev/admin/getUsers";
        const headers = {
          "Authorization": "Bearer "+access_token,
        };
    
        $.ajax({
          url: url,
          type: "GET",
          headers: headers,
          success: function (response) {
            var userList = response;
            usersListPrev= userList;
            createTable(userList);
       
          },
          error: function (xhr, status, error) {
            // $(location).attr("href", "index.html");
            return;
          },
        });
      }

  function createTable(data) {
        if (data ) {
          let headers = [
            "First name",
            "Last Name",
            "UserName",
            "Mobile Number",
            "Wallet Ballance",
            "Kyc Status",
            "Actions",
            "Wallet History"
          ];

          let $table = $('<table class="table  curved-table"></table>'); 

          let $headerRow = $('<thead class="thead-dark"></thead>'); 
          let $headerRowContent = $("<tr></tr>");

          headers.forEach(function (headerText) {
            $headerRowContent.append($("<th scope='col'></th>").text(headerText));
          });

          $headerRow.append($headerRowContent);
          $table.append($headerRow);

          let $tableBody = $("<tbody></tbody>");
              data.forEach(function (item) {
            let $row = $("<tr></tr>");

            let first_name = item["first_name"];
            let last_name = item["last_name"];
            let username = item["username"];
            let phone_number = item["phone_number"];
            let payout_wallet = item["payout_wallet"];
            let kyc_status = item["kyc_status"];
                let kycForUi= "";
                if(kyc_status =="True"){
                     kycForUi = "Active";
                } else{
                  kycForUi="InActive"
                }
            let buttonForUpdate = "  <a class='btn btn-primary btn-sm'  data-toggle='modal' data-target='#exampleModalCenter' onclick= updateUser('"+username+"');>  Update User  </button>"
                 let buttonForHistory = "  <a class='btn btn-primary btn-sm' style='background-color:green;' data-toggle='modal' data-target='#userHistoryModel' onclick= showHistoryForUser('"+username+"');>  User wallet History</button>"
            $row.append($("<td></td>").text(first_name));
            $row.append($("<td></td>").text(last_name));
            $row.append($("<td></td>").text(username));
            $row.append($("<td></td>").text(phone_number));
            $row.append($("<td></td>").text(payout_wallet));
            $row.append($("<td></td>").text(kycForUi));
            $row.append($("<td></td>").html(buttonForUpdate));
            $row.append($("<td></td>").html(buttonForHistory));
            $tableBody.append($row);

          });

          $table.append($tableBody);

          $(".tableContainerDiv").append($table);
        } else {
          $(".tableContainerDiv").append("<p>No Users found.</p>");
        }
      }
      function updateUser(userName){
        for(let i=0;i<usersListPrev.length;i++){
          if(userName == usersListPrev[i]["username"]){

            let kycForUi= "";
            if(usersListPrev[i]["kyc_status"] =="True"){
                 kycForUi = "Active";
            } else{
              kycForUi="InActive"
            }
            $("#mobileNumberForUpdate").val(usersListPrev[i]["phone_number"]);
            $("#usernameForUpdate").val(usersListPrev[i]["username"]);
            $("#walletBallenceForUpdate").val(usersListPrev[i]["payout_wallet"]);
            $("#statusForUpdate").val(kycForUi);
            $("#rechargeAmount").val("");
            $("#statusDropdown").val("");
            $("#exampleModalCenter").modal("show");
          }
        }
      }
      function rechargeUser(){
        var userForRecharge = $("#usernameForUpdate").val();
        var rechargableAmount = $("#rechargeAmount").val();
        var statusCurrent =$("#statusForUpdate").val();
        if(rechargableAmount ==0){
           $(".error-message-UpdateForm").text("Please enter valid amount to recharge");
          return;
        } else if(rechargableAmount >0 && statusCurrent =="Active"){
          $(".error-message-UpdateForm").text("You cant Recharge the user ,until he was deactivated .first deactive him and try again");
          return;
        } else{
          $(".error-message-UpdateForm").text("");
           let url = "https://super-duper-bassoon-wr94q6v4xxr4hvv7r-8080.app.github.dev/admin/rechargeWallet";

          const headers = {
            "Authorization": "Bearer "+access_token,
             "Content-Type": "application/json",
          };
          const payload = {
            username: $("#usernameForUpdate").val(),
            amount : rechargableAmount,
          };

          $.ajax({
            url: url,
            type: "POST",
            headers: headers,
             data: JSON.stringify(payload),
            success: function (response) {
            $(".success-message-UpdateForm").text(response.successMsg);
              $(".error-message-UpdateForm").text("");
              setTimeout(function() {
                location.reload();
              }, 2000);
            },
            error: function (xhr, status, error) {
               $(".error-message-UpdateForm").text("SomeThing went wrong please try again");
               $(".success-message-UpdateForm").text("");
              return;
            },
          });
          
        }
      }

      function UpdateUserStatus(){
        var statusForUpdate = $('#statusDropdown').val();
         var statusCurrent =$("#statusForUpdate").val();
        if(!statusForUpdate){
          $(".error-message-UpdateForm").text("Please select the Status First");
          return;
        } else{
          if(statusForUpdate == "True" && statusCurrent =="Active"){
            $(".error-message-UpdateForm").text("User is already Active");
            return;
          } else if(statusForUpdate == "False" && statusCurrent =="InActive"){
            $(".error-message-UpdateForm").text("User is already InActive");
            return;
          } else{
            $(".error-message-UpdateForm").text("");
            let url = "https://super-duper-bassoon-wr94q6v4xxr4hvv7r-8080.app.github.dev/admin/updateKyc";

            const headers = {
              "Authorization": "Bearer "+access_token,
               "Content-Type": "application/json",
            };
            const payload = {
              username: $("#usernameForUpdate").val(),
              KYC_Status: statusForUpdate,
            };

            $.ajax({
              url: url,
              type: "POST",
              headers: headers,
               data: JSON.stringify(payload),
              success: function (response) {
              $(".success-message-UpdateForm").text(response.successMsg);
                $(".error-message-UpdateForm").text("");
                setTimeout(function() {
                  location.reload();
                }, 2000);
              },
              error: function (xhr, status, error) {
                if (xhr.responseJSON && xhr.responseJSON.errorMsg) {
                  var errorMessage = xhr.responseJSON.errorMsg;
                  $(".error-message-UpdateForm").text(errorMessage);
                } 
                 
                return;
              },
            });
          }
        }
      }

      function createWalletTable(data,isAdmin){
        if (data ) {
          let headers = [
            "Id",
            "User Name",
            "Client Id",
            "Amount",
            "Transaction Type",
            "Date",
            "Reason"
          ];

          let $table = $('<table class="table  curved-table"></table>'); 

          let $headerRow = $('<thead class="thead-dark"></thead>'); 
          let $headerRowContent = $("<tr></tr>");

          headers.forEach(function (headerText) {
            $headerRowContent.append($("<th scope='col'></th>").text(headerText));
          });

          $headerRow.append($headerRowContent);
          $table.append($headerRow);

          let $tableBody = $("<tbody></tbody>");
              data.forEach(function (item) {
            let $row = $("<tr></tr>");

            let id = item["id"];
            let username = item["username"];
            let client_id = item["client_id"];
            let amount = item["amount"];
            let transaction_type = item["transaction_type"];
            let date_time = item["date_time"];
            let reason = item["reason"]
               
            let buttonForUpdate = "  <a class='btn btn-primary btn-sm'  data-toggle='modal' data-target='#exampleModalCenter' onclick= updateUser('"+username+"');>  Update User  </button>"
                 let buttonForHistory = "  <a class='btn btn-primary btn-sm' onclick= 'showHistory('"+username+"'')>  User wallet History</button>"
            $row.append($("<td></td>").text(id));
            $row.append($("<td></td>").text(username));
            $row.append($("<td></td>").text(client_id));
            $row.append($("<td></td>").text(amount));
            $row.append($("<td></td>").text(transaction_type));
            $row.append($("<td></td>").text(date_time));
            $row.append($("<td></td>").text(reason));
            $tableBody.append($row);

          });

          $table.append($tableBody);
          if(isAdmin){
             $("#table-container-wallet").append($table);
          } else{
             $("#table-container-wallet-user").append($table);
          }

         
        } else {
           if(isAdmin){
            $("#table-container-wallet").append("<p>No transactions found.</p>");
           }else{
             $("#table-container-wallet-user").append("<p>No transactions found.</p>");
           }
        }
      }
      function showHistoryForUser(userName){
         let url = "https://super-duper-bassoon-wr94q6v4xxr4hvv7r-8080.app.github.dev/admin/getWalletHistoryForUser";
        const headers = {
          "Authorization": "Bearer "+access_token,
          "Content-Type": "application/json",
        };
        const payload = {
          username: userName,
        };

        $.ajax({
          url: url,
          type: "POST",
          headers: headers,
           data: JSON.stringify(payload),
          success: function (response) {
            var userList = response;
             createWalletTable(userList,false);


          },
          error: function (xhr, status, error) {
            if (xhr.responseJSON && xhr.responseJSON.errorMsg) {
              var errorMessage = xhr.responseJSON.errorMsg;
               alert(errorMessage);
            } 
            return;
          },
        });
      }
</script>

